.italicDate{
    font-style: italic;
}
.redLine{
    color:red;
}

.labelMargin {
    margin-right: 5px; /* ajustez cette valeur selon vos besoins */
}

.textMargin {
    margin-left: 5px; /* ajustez cette valeur selon vos besoins */
}
.ErrorText{
    color: red;
}
.SuccessText{
    color: green;
}
.sapUiSuccess {
    color: green;
}

.sapUiError {
    color: red;
}

.sapUiWarning {
    color: orange;
}
